
@{
    ViewBag.Title = "ResultManagement";
}

<script src="~/myAngCtrl/resultManagement/resultModule.js"></script>
<script src="~/myAngCtrl/resultManagement/resultCtrl.js"></script>

<div ng-app="resultManagement">
    <div ng-controller="resultCtrl">
        <div ng-view class="panel panel-primary"></div>
    </div>
</div>

