
@{
    ViewBag.Title = "TestingUrlManagement";
}
@Scripts.Render("~/bundles/testingUrlManagement")

<div ng-app="quizApp">
    <div ng-controller="testingUrlCtrl">                   
        <div ng-view class="panel panel-primary"></div>            
    </div>
</div>
