
@{
    ViewBag.Title = "TestingUrlManagement";
}
<script src="~/myAngCtrl/testingUrlManagement/testingUrlModule.js"></script>
<script src="~/myAngCtrl/testingUrlManagement/testingUrlCtrl.js"></script>

<div ng-app="testingUrlManagement">
    <div ng-controller="testingUrlCtrl">                   
        <div ng-view class="panel panel-primary"></div>            
    </div>
</div>
