
@{
    ViewBag.Title = "TestManagement";
}

@Scripts.Render("~/bundles/testManagement")

<div ng-app="quizApp">
    <div ng-controller="testCtrl">
        <div ng-controller="testQuestionCtrl">
            <div ng-controller="answerCtrl">
                
                <div ng-view class="panel panel-primary"></div>
            </div>
        </div>
    </div> 
</div>


 