<h3 class="panel-heading">{{currentQuestion.Instance}}</h3>
<div class="panel-body">
    <form name="questionForm" novalidate>
        <div class="form-group">
            <label>Instance</label>
            <input name="instance" class="form-control" ng-model="currentQuestion.Instance" required/>
            <label class="label label-danger" ng-show="questionForm.instance.$invalid && questionForm.instance.$dirty">Instance is required</label>
        </div>
        <div class="form-group">
            <label>Hint</label>
            <input class="form-control" ng-model="currentQuestion.Hint" />
        </div>

        <img src="../../Content/ajax-loader.gif" ng-show="showLoaderQuestions" />
        <button class="btn btn-primary" ng-click="saveEditQuestion(currentQuestion)" ng-disabled="questionForm.$invalid">Save</button>
        <button class="btn btn-primary" ng-click="cancelEditQuestion()">Cancel</button>
    </form>
</div>