<h3 class="panel-heading">{{currentQuestion.Instance}}</h3>
<div class="panel-body">
    <div class="form-group">
        <label>Instance</label>
        <input class="form-control" ng-model="currentQuestion.Instance" />
    </div>
    <div class="form-group">
        <label>Hint</label>
        <input class="form-control" ng-model="currentQuestion.Hint" />
    </div>
    
    <img src="../../Content/ajax-loader.gif" ng-show="showLoaderQuestions" />
    <button class="btn btn-primary" ng-click="saveEditQuestion(currentQuestion)">Save</button>
    <button class="btn btn-primary" ng-click="cancelEditQuestion()">Cancel</button>
</div>