<h3 class="panel-heading">{{currentTest.Name}}</h3>
<div class="panel-body">
    <form name="testForm" novalidate>
        <div class="form-group">
            <label>Name</label>
            <input name="name" class="form-control" ng-model="currentTest.Name" required/>
            <label class="label label-danger" ng-show="testForm.name.$invalid && testForm.name.$dirty">Name is required</label>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" ng-model="currentTest.Description" />
        </div>
        <div class="form-group">
            <label>Test limit</label>
            <input class="form-control" ng-model="currentTest.TestTimeLimit" />
        </div>
        <div class="form-group">
            <label>Question limit</label>
            <input class="form-control" ng-model="currentTest.QuestionTimeLimit" />
        </div>
        <img src="../../Content/ajax-loader.gif" ng-show="showLoader" />
        <button class="btn btn-primary" ng-click="saveEdit(currentTest)" ng-disabled="testForm.$invalid">Save</button>
        <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
    </form> 
</div>