<h3 class="panel-heading">{{currentAnswer.Instance}}</h3>
<div class="panel-body">
    <form name="answerForm" novalidate>
        <div class="form-group">
            <label>Instance</label>
            <input name="instance" class="form-control" ng-model="currentAnswer.Instance" required/>
            <label class="label label-danger" ng-show="answerForm.instance.$invalid && answerForm.instance.$dirty">Instance is required</label>
        </div>
        <div class="form-group">
            <label>Correct</label>
            <input type="checkbox" class="form-control" ng-model="currentAnswer.IsCorrect" />
        </div>

        <img src="../../Content/ajax-loader.gif" ng-show="showLoaderAnswers" />
        <button class="btn btn-primary" ng-click="saveEditAnswer(currentAnswer)" ng-disabled="answerForm.$invalid">Save</button>
        <button class="btn btn-primary" ng-click="cancelEditAnswer()">Cancel</button>
    </form>
</div>