<h3 class="panel-heading">{{currentAnswer.Instance}}</h3>
<div class="panel-body">
    <div class="form-group">
        <label>Instance</label>
        <input class="form-control" ng-model="currentAnswer.Instance" />
    </div>
    <div class="form-group">
        <label>Correct</label>
        <input type="checkbox" class="form-control" ng-model="currentAnswer.IsCorrect" />
    </div>

    <img src="../../Content/ajax-loader.gif" ng-show="showLoaderAnswers" />
    <button class="btn btn-primary" ng-click="saveEditAnswer(currentAnswer)">Save</button>
    <button class="btn btn-primary" ng-click="cancelEditAnswer()">Cancel</button>
</div>